*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: #e8e4d9;
    color: #0a0a0a;
    font-family: monospace;
    margin: 0;
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
}


li{
	font-family: serif;
	font-size: 1rem;
}

#line-up h2{
	color: #0047ff;
}

#tickets h2 {
	color: #0047ff;
}

#info h2 {
	color: #0047ff;
}

header{
	background-color: black;
	padding: 10px;
}

header h1{
	color: white;
}

header p{
	color: white;
}


nav {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    background-color: ff3b00;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0a0a0a;
}

.card {
	background-color: floralwhite;
    border: 2px solid #0a0a0a;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 8px 8px 0 #0a0a0a;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 65rem;
    width: 90%;
    justify-content: center;
}


.badge {
    position: absolute;
    top: 1;
    right: 1;
}

.card {
    width: 90%;
    max-width: 65rem;
    margin: 1rem auto;
}